:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
}

html{
    background-color: #E2EEF3;
}

.app{
    margin-top: 60px;
    background-color: #E2EEF3;
}
